<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          (click)="closeFilter()"
        >
          <span>x</span>
        </button>
        <h4 class="modal-title">Фильтр</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="period" class="control-label">Выберите период</label>
          <select
            id="period"
            class="form-control"
            [(ngModel)]="selectedPeriod"
          >
            <option
              *ngFor="let p of timePeriods"
              [value]="p.type"
            >
              {{p.label}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Выберите тип события</label>
          <div>
            <label *ngFor="let t of types">
              <input
                type="checkbox"
                class="checkbox"
                [value]="t.type"
                (change)="handleChangeType($event.target)"
              >
              <span>
                {{t.label}}
              </span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Выберите категорию</label>
          <div>
            <label *ngFor="let c of categories">
              <input
                type="checkbox"
                class="checkbox"
                [value]="c.id"
                (change)="handleChangeCategory($event.target)"
              >
              <span>{{c.name}}</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            type="button"
            (click)="resetFilter($event.currentTarget)"
          >Сбросить</button>
          <button
          class="btn btn-secondary"
          type="button"
          (click)="closeFilter()"
        >Отмена</button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="applyFilter()"
          >Применить</button>
        </div>
      </div>
    </div>
  </div>
</div>
